*volumetricMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/apricotree.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/apricotree.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/tree.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/apricotree.interp

*timestep
0.08

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
10.0

*frequencyScaling
1.5

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionY
2.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/apricotree.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/experimentforest/voxelnumber35/motiondata/positionthe0phi60force1Index1.txt

*ExternFileDirectory
D:\GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/experimentforest/EachFileForce

*fixedVerticesKVFFileName
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/apricot_tree/FixedKOthrVegType/70/experimentforest/voxelnumber35/EachPartSkelCubic_index/KVFElement.txt

#*ExternStreePointsDirectory
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/pullVertex.txt

#*uDeformationoutputFileName
#D:/GraduationProject/LargeScaleForest/models/apricot_tree/deltaU/positionthe0phi90force2Index1.spDemn

#*ObjectVertexIndexInElement
#D:/GraduationProject/LargeScaleForest/models/apricot_tree/ObjectVertexIndex.txt