*volumetricMeshFilename
../../models/mini_mapleTree/tree.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
../../models/mini_mapleTree/surface.obj

*secondaryRenderingMeshFilename
../../models/mini_mapleTree/tree.obj

*secondaryRenderingMeshInterpolationFilename
../../models/mini_mapleTree/tree.interp

*timestep
0.1

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
1.0

*frequencyScaling
1.5

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
../../models/mini_mapleTree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionY
2.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/mini_mapleTree/tree.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
G:/GraduationProject/mini_mapleTree/deltaU/positionthe0phi0force1Index30.txt

*ExternFileDirectory
G:/GraduationProject/mini_mapleTree/EachFileForce

*ExternStreePointsDirectory
D:/GraduationProject/LargeScaleForest/models/mini_mapleTree/pullVertex.txt

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/mini_mapleTree/KVFElement.txt

*uDeformationoutputFileName
D:/GraduationProject/LargeScaleForest/models/mini_mapleTree/data/deltaU/positionthe0phi0force3,1,0.25,0.spDemn

*ObjectVertexIndexInElement
D:/GraduationProject/LargeScaleForest/models/mini_mapleTree/ObjectVertexIndex.txt