*deformableObjectFilename
realtime/voxelizegrass/voxelizegrass.obj

*modesFilename
realtime/voxelizegrass/voxelizegrass.URendering.float

*cubicPolynomialFilename
realtime/voxelizegrass/voxelizegrass.cub

*deformableObjectCompliance
2.3284E+09

*frequencyScaling
41.1534

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
196.415608

*cameraLattitude
30.000000

*cameraLongitude
110.000000

*focusPositionX
8.405335

*focusPositionY
80.510228

*focusPositionZ
25.296410

*backgroundColor
220 220 220

*lightingConfigFilename
realtime/voxelizegrass/voxelizegrass.lighting

*renderOnGPU
1

*windowWidth
800

*windowHeight
800

