<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.72.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.72.0.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.72.0.0" targetFramework="native" />
  <package id="glew" version="2.1.0" targetFramework="native" />
  <package id="glew.redist" version="2.1.0" targetFramework="native" />
  <package id="glfw" version="3.3.0.1" targetFramework="native" />
  <package id="glm" version="0.9.9.500" targetFramework="native" />
  <package id="intelopenmp.redist.win" version="2020.4.311" targetFramework="native" />
  <package id="tbb" version="4.2.3.1" targetFramework="native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="native" />
</packages>