*volumetricMeshFilename
../../models/10.20/cullingTree1/1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
../../models/10.20/cullingTree1/surface.obj

*secondaryRenderingMeshFilename
../../models/10.20/cullingTree1/tree.obj

*secondaryRenderingMeshInterpolationFilename
../../models/10.20/cullingTree1/1.interp

*timestep
0.01

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.003

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
500000.0

*frequencyScaling
3.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
../../models/10.20/cullingTree1/voxelizegrass.lighting

*cameraRadius
400

*focusPositionY
120.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/10.20/cullingTree1/1.bou

*numInternalForceThreads
4

*numSolverThreads
4

*renderAxes
1

*outputFilename
D:/GraduationProject/LargeScaleForest/models/8.10/temp/positionthe0phi0force150,1,0.txt

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/8.10/KVFElement.txt