*volumetricMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/surface.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.interp

*timestep
0.08

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
10.0

*frequencyScaling
1.5

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionY
2.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
G:/GraduationProject/apricot_tree/deltaU/positionthe0phi90force1Index14.txt

*ExternFileDirectory
G:/GraduationProject/apricot_tree/EachFileForce

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/apricot_tree/KVFElement.txt

*ExternStreePointsDirectory
D:/GraduationProject/LargeScaleForest/models/yellow_tree/pullVertex.txt

*uDeformationoutputFileName
D:/GraduationProject/LargeScaleForest/models/apricot_tree/deltaU/positionthe0phi90force2Index1.spDemn

*ObjectVertexIndexInElement
D:/GraduationProject/LargeScaleForest/models/apricot_tree/ObjectVertexIndex.txt