*volumetricMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/OthrVegType/200/tree200.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/OthrVegType/200/tree200.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/tree_last_test.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/OthrVegType/200/tree200.interp

*timestep
0.1

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
20.0

*frequencyScaling
2.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionY
2.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/tree.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/deltaU/positionthe0phi0force3Index13.txt

*ExternFileDirectory
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/EachFileForce

*ExternStreePointsDirectory
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/StreePoints/pullVertex.txt

*fixedVerticesKVFFileName
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/KVFElement.txt

*uDeformationoutputFileName
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/deltaU/positionthe0phi120force1000,1,0,0.spDemn

*ObjectVertexIndexInElement
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/ObjectVertexIndex.txt