*volumetricMeshFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/tree.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/surface.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/tree_last_test.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/tree.interp

*timestep
0.03

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
20.0

*frequencyScaling
2.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionX
0.8

*focusPositionY
3.0

*focusPositionZ
4.5

*cameraLongitude
-90.0

*cameraLattitude
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/LargeScaleForest/models/yellow_tree/tree.bou

*numInternalForceThreads
4

*numSolverThreads
4
*renderAxes
1

*outputFilename
I:/GraduationProject/yellow_tree/test/positionthe0phi60force1Index19.txt

*ExternFileDirectory
I:/GraduationProject/yellow_tree/EachFileForce

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/yellow_tree/KVFElement.txt

#*ExternStreePointsDirectory
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/pullVertex.txt

#*uDeformationoutputFileName
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/deltaU/positionthe0phi120force1000,1,0,0.spDemn

#*ObjectVertexIndexInElement
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/ObjectVertexIndex.txt