*volumetricMeshFilename
#../../models/turtle/turtle-volumetric-homogeneous.veg
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/voxelizegrass.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/voxelizesurfacegrass.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/1.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/voxelizegrass.interp

*timestep
0.01

*dampingMassCoef
1.0
#10.0

*dampingStiffnessCoef
0.0
#0.001

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
#30.0
5000.0

*frequencyScaling
1.0

#*enableCompressionResistance
#1

#*compressionResistance
#500

#*inversionThreshold
#0.1

*lightingConfigFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/voxelizegrass.lighting

*cameraRadius
123

*cameraLongitude
0

*cameraLattitude
8

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0

*renderAxes
1

*syncTimestepWithGraphics
1

*fixedVerticesFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/voxelizegrass.bou

*numInternalForceThreads
4

*numSolverThreads
2

*outputFilename
D:/GraduationProject/Vega/models/newgrass/voxelizegrass/position.txt
