*volumetricMeshFilename
../../models/10.20/cullingTree/1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
../../models/10.20/cullingTree/surface.obj

*secondaryRenderingMeshFilename
../../models/10.20/cullingTree/tree.obj

*secondaryRenderingMeshInterpolationFilename
../../models/10.20/cullingTree/1.interp

*timestep
0.01

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
5000.0

*frequencyScaling
3.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
../../models/10.20/cullingTree/voxelizegrass.lighting

*cameraRadius
400

*focusPositionY
120.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/10.20/cullingTree/1.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1