*volumetricMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/tree70.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/tree70.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/tree_last_test.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/tree70.interp

*timestep
0.03

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
20.0

*frequencyScaling
2.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/voxelizegrass.lighting

*useRealTimeNormals
1

*cameraRadius
5

*focusPositionX
0.8

*focusPositionY
3.0

*focusPositionZ
4.5

*cameraLongitude
-90.0

*cameraLattitude
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/tree70.bou

*numInternalForceThreads
4

*numSolverThreads
4
*renderAxes
1

*outputFilename
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/experimentforest/voxelnumber35/motiondata/positionthe0phi90force2Index5.txt

*ExternFileDirectory
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/experimentforest/EachFileForce

*fixedVerticesKVFFileName
D:/GraduationProject/New-LargeScaleForest/LargeScaleForest/models/yellow_tree/FixedKOthrVegType/70/experimentforest/voxelnumber35/EachPartSkelCubic_index/KVFElement.txt

#*ExternStreePointsDirectory
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/pullVertex.txt

#*uDeformationoutputFileName
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/deltaU/positionthe0phi120force1000,1,0,0.spDemn

#*ObjectVertexIndexInElement
#D:/GraduationProject/LargeScaleForest/models/yellow_tree/ObjectVertexIndex.txt