*volumetricMeshFilename
../../models/8.10/1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
../../models/8.10/surface.obj

*secondaryRenderingMeshFilename
../../models/8.10/tree.obj

*secondaryRenderingMeshInterpolationFilename
../../models/8.10/1.interp

*timestep
0.01

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
#30.0
1.0

*frequencyScaling
3.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
../../models/8.10/voxelizegrass.lighting

*cameraRadius
3

*focusPositionY
1.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/8.10/1.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
D:/GraduationProject/LargeScaleForest/models/8.10/temp/positionthe0phi0force110,1,0,0.txt

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/8.10/KVFElement.txt

*uDeformationoutputFileName
D:/GraduationProject/LargeScaleForest/models/8.10/temp/positionthe0phi0force110,1,0,0.spDemn

*ObjectVertexIndexInElement
D:/GraduationProject/LargeScaleForest/models/8.10/ObjectVertexIndex.txt
